.texto-menor{
    font-size: 13px;
}

.divs-facilidades{
    width: 325px;
}

.botao-lilas{
    background-color: #9353FF;
}

.verde-limao {
    color: #DAFF01;
}
.carousel-container {
    margin: 0 auto;
  }
  
@media (min-width: 1440px) {
    .carousel-container {
      width: 1440px;
    }
}